name: Azkaban

on:
  push:
    branches: ["main"]

jobs:
  detect:
    runs-on: ubuntu-latest
    outputs:
      projects: ${{ steps.filter.outputs.changes }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          base: ${{ github.ref }}
          list-files: json
          # Define projects and their triggers here
          filters: |
            thestral:
              - 'docker/services/thestral/**'

  deploy:
    needs: detect
    if: ${{ needs.detect.outputs.projects != '[]' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        project: ${{ fromJSON(needs.detect.outputs.projects) }}
      fail-fast: false
      
    steps:
      - uses: actions/checkout@v4
      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:actions-cd

      - name: Prepare Server Directory
        run: |
          ssh -o StrictHostKeyChecking=no prod@${{ secrets.TAILSCALE_IP }} "mkdir -p /opt/${{ matrix.project }}"

      - name: Copy docker-compose
        run: |
          scp -o StrictHostKeyChecking=no \
            ./docker/services/${{ matrix.project }}/docker-compose.yaml \
            prod@${{ secrets.TAILSCALE_IP }}:/opt/${{ matrix.project }}/

      - name: Compose Up
        run: |
          ssh -o StrictHostKeyChecking=no prod@${{ secrets.TAILSCALE_IP }} "
            echo 'Deploying ${{ matrix.project }}...'
            cd /opt/${{ matrix.project }}
            docker compose pull
            docker compose up -d --remove-orphans
          "